<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">No title</title>
</head>
<body>
<ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="/news">News</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contacts">Contacts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
    </li>
</ul>
<div class="container">

    <div layout:fragment="content">
        <p>Get to the desired tab</p>
    </div>
    <!--<div th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>-->
</div>
</body>
</html>