<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<head>
    <meta charset="UTF-8">
    <title>News</title>
</head>
<body>
<ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="#">News</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Contacts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
</ul>
<div class="naw">
    <div class="row">
        <div class="col-sm">
            <p>Не следует, однако забывать, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. </p>
        </div>
        <div class="col-sm">
            <p> Не следует, однако забывать, что реализация намеченных плановых заданий играет важную роль в формировании модели развития.</p>
        </div>
        <div class="col-sm">
            <p>Значимость этих проблем настолько очевидна, что сложившаяся структура организации позволяет оценить значение модели развития.</p>
        </div>
    </div>
</div>
<!--<br>-->
<!--<h1>Заголовок </h1>-->
<!--<p>Не следует, однако забывать, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. </p>-->
<!--<br>-->
<!--<h2>Заголовок</h2>-->
<!--<p> Не следует, однако забывать, что реализация намеченных плановых заданий играет важную роль в формировании модели развития.</p>-->
<!--<br>-->
<!--<h3>Заголовок</h3>-->
<!--<p>Значимость этих проблем настолько очевидна, что сложившаяся структура организации позволяет оценить значение модели развития.</p>-->
</body>
</html>